p{
    font-size: 20px;
}
li{
    list-style: none;
    margin-right: 25px;
}
.primer-elemento{
    color: pink;  
}
.ultimo-elemento{
    background: red;
}
#primero{
    font-size: 30px;
}
.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.listaMenu{
    display: flex;

}