body{
    font-family: 'Poppins';
    margin: 0;
}
p{
    font-size: 20px;
}
li{
    list-style: none;
    margin-right: 25px;
}
a{
    text-decoration: none;
    color:black;
}
#primero{
    font-size: 30px;
}
.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.listaMenu{
    display: flex;
}
.titular{
    text-align: center;
    margin-top: 200px;
}
h1{
    font-size: 60px;
    margin: 0;
}
h2{
    font-size: 25px;
    margin-bottom: 40px;
}
a{
    font-size: 15px;
    padding: 20px;
    background:#5cb8ff;
    padding: 20px 30px 20px 30px;
    color: white;
}
header{
    background: url(image/fondo.jpg);
    height:100vh;
    background-size: cover;
}
.contenedor{
    max-width: 1280px;
    width: 90%;
    margin: auto;
}
/*Arranca Sección sobre mi */
h3{
    text-align: center;
    font-size: 55px;
    font-weight: bold;
}
.contenedor-sobremi{
    display: flex; 
    justify-content: space-around;
    align-items: center;
}
.contenedor-parrafo-boton{
    width: 42%;
}
.contenedor-parrafo-boton p{
    font-size: 18px;
}
.contenedor-parrafo-boton a{
    margin-top: 30px;
    /* Propiedades de bloque a la etiqueta a*/
    display: inline-block;
}
.img-me{
    width: 30%;
}
.contenedor-servicios{
    display: flex;
    /* Uso de la propiedad flex-wrap que pone solo ciertos elementos en el html*/
    flex-wrap: wrap;
    justify-content: space-around;
}
.servicio{
    width: 25%;
    padding: 50px 38px 50px 38px;
    border-radius: 1rem;
    margin-bottom: 40px;
    color: white;
    text-align: justify;
}
.violeta{
    background-color:#5055df ;
}
.celeste{
    background-color: #40a8fa;
}
.servicio h4{
    font-size: 30px;
}
.servicio img{
    float:right; 
}