body{
    font-family: 'Poppins';
    margin: 0;
}
p{
    font-size: 20px;
}
li{
    list-style: none;
    margin-right: 25px;
}
a{
    text-decoration: none;
    color:black;
}
#primero{
    font-size: 30px;
}
.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 30px;
}
.menu p{
    font-size: 30px; 
}
.listaMenu{
    display: flex;
}
.titular{
    text-align: center;
    margin-top: 200px;
}
h1{
    font-size: 60px;
    margin: 0;
}
h2{
    font-size: 25px;
    margin-bottom: 40px;
}
.botonStyle{
    font-size: 15px;
    padding: 20px;
    background:#5cb8ff;
    padding: 20px 30px 20px 30px;
    color: white;
}
header{
    background: url(image/fondo.jpg);
    height:100vh;
    background-size: cover;
}
.contenedor{
    max-width: 1280px;
    width: 90%;
    margin: auto;
}
/*Arranca Sección sobre mi */
h3{
    text-align: center;
    font-size: 55px;
    font-weight: bold;
}
.contenedor-sobremi{
    display: flex; 
    justify-content: space-around;
    align-items: center;
}
.contenedor-parrafo-boton{
    width: 42%;
}
.contenedor-parrafo-boton p{
    font-size: 18px;
    text-align: justify;
}
.contenedor-parrafo-boton a{
    margin-top: 30px;
    /* Propiedades de bloque a la etiqueta a*/
    display: inline-block;
}
.img-me{
    width: 30%;
}
.contenedor-servicios{
    display: flex;
    /* Uso de la propiedad flex-wrap que pone solo ciertos elementos en el html*/
    flex-wrap: wrap;
    justify-content: space-around;
}
.servicio{
    width: 25%;
    padding: 50px 38px 50px 38px;
    border-radius: 1rem;
    margin-bottom: 40px;
    color: white;
    text-align: justify;
}
.servicio p{
    height: 200px;
    font-size: 18px;
}
.violeta{
    background-color:#5055df ;
}
.celeste{
    background-color: #40a8fa;
}
.servicio h4{
    font-size: 30px;
}
.servicio img{
    float:right; 
}
span{
    font-size: 80px;
    color: blue;
}
.owl-nav{
    text-align: center;
}
.contenedor-porque{
    display: flex;
    text-align: center;
    justify-content: space-around;
}
.contenedor-porque h4{
    margin: 0;
    font-size: 20px;
}
.contenedor-porque p{
    font-size: 16px;
    line-height: 26px;
}
.porque-singular{
    width: 28%;
}
#sectionBlog{
    background: #F9FAFC;
    padding-top: 50px;
    padding-bottom: 50px;
}
.contenedor-blog{
    display: flex;
    justify-content: space-around;
}
.blog{
    width: 30%;
    /* Muestra la sombra de un elemetno con cuatro parametros */
    box-shadow: 1px 1px 14px #ccc;

}
#sectionBlog img{
    width: 100%;
}
#sectionBlog h4{
    font-size: 23px;
    margin: 0;
    padding: 20px;;
}
#sectionBlog p{
    color: #5A6169;
    line-height: 24px;
    font-size: 16px;
    padding: 10px 20px 20px 20px;
    text-align: justify;
    margin: 0;
}
#sectionBlog a{
    display: inline-block;
    margin-left: 20px;
    margin: 20px;
}
#sectionWaiting{
    background: linear-gradient(rgba(84,93,220,.94),rgba(96,171,245,.9));
    text-align: center;
    padding:50px 0 50px 0;
}
#sectionWaiting h3{
    font-size: 23px;
    color: white;
    margin-bottom: 40px;
}
#sectionWaiting a{
    padding: 15px 55px 15px 55px;
    transition: 1s;
}
/*  Cuando el mouse pase encima del boton */
#sectionWaiting a:hover{
    color: black;
    transition: 1s;
    display: inline-block;
    transform: scale(1.4);
}
#whats a{
    background: none;
    position: fixed;
    /* Estos elementos solo funcionan cuando se tiene fixed */
    top: 85%;
    right: 15px;
}
.menu-icon{
    display: none;
}
@media(max-width:800px){
    /* Se va aplicar cuando el maximo ancho de la pantalla definida */
    nav{
        position: absolute;
        top: 70px;
        left: 0;
        background: #5cb8ff;
        width: 100%;
        display: none;
    }
    nav .listaMenu{
        flex-direction: column;
        display: flex;
    }
    .menu-icon{
        display: block;
        width: 25px;
    }
    .titular{
        margin-top: 54px;
    }
    h1{
        font-size: 49px;
    }
    h2{
        font-size: 19px;
    }
    .contenedor-sobremi{
        flex-direction: column;
    }
    .img-me {
        width: 90%;
    }
    .contenedor-parrafo-boton {
        width: 80%;
    }
    .contenedor-servicios{
        flex-direction: column;
    }
    .servicio {
        width: 72%;
        margin: auto;
        margin-bottom: 15px;
    }
    h3{
        font-size: 43px;
    }
    .contenedor-porque{
        flex-direction: column;
    }
    .porque-singular{
        width: 95%;
    }
    .contenedor-blog{
        flex-direction: column;
    }
    .blog {
        width: 85%;
        margin: auto;
        margin-bottom: 15px;
    }
}
/*Media para ipad  */
@media(min-width: 700px) and (max-width:900px){
    header{
        height: 53vh;
    }
    .img-me {
        width: 50%;
    }
    .servicio {
        width: 54%;
    }
    .blog {
        width: 62%;
    }
}
